version: "3.5"
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "{{ user_uid }}:{{ user_gid }}"
    network_mode: "host"
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - "{{ jellyfin_movies }}:/movies"
      - "{{ jellyfin_shows }}:/shows"
      - "{{ jellyfin_comics}}:/comics"
      - "{{ jellyfin_music }}:/music"
    restart: "unless-stopped"
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl={{ jellyfin_url }}
volumes:
  jellyfin_config:
    driver: local
  jellyfin_cache:
    driver: local