server {
    listen 80;
    server_name {{ syncthing_subdomain }}.{{ domain }};
    include snippets/whitelist.conf;

    return 301 https://$server_name$request_uri;

}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    include snippets/whitelist.conf;
    include snippets/ssl-params.conf;

    server_name {{ syncthing_subdomain }}.{{ domain }};

    access_log /var/log/nginx/st.access;
    error_log /var/log/nginx/st.error;

    location / { # Note: Trailing slash
        proxy_pass http://localhost:{{ syncthing_port }}/; # Note: Trailing slash
    }
}

